 /* Style the tab */
.tab {
  display: flex;
  height: 40px;
  background-color: #ffffff;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    flex: 1;
    float: left;
    border: 1px solid #ccc;
    border-radius: 15px 15px 0px 0px;
    margin-top: 3px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  height: 340px;
  padding: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
}

table {
    border-collapse: collapse;
}

td {
    padding: 5px;
}

tr:nth-child(even){
   background-color: #fff;
}

tr:nth-child(odd){
   background-color: #f1f1f1;
}

.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  float: right;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 33%;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 33%;
  height: 25px;
  background: #000000;
  cursor: pointer;
}

.slider[value="1"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 33%;
  height: 25px;
  background: #ff0000;
  cursor: pointer;
}

.slider[value="1"]::-moz-range-thumb {
  width: 33%;
  height: 25px;
  background: #ff0000;
  cursor: pointer;
}
.slider[value="2"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 33%;
  height: 25px;
  background: #222222;
  cursor: pointer;
}

.slider[value="2"]::-moz-range-thumb {
  width: 33%;
  height: 25px;
  background: #222222;
  cursor: pointer;
}
.slider[value="3"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 33%;
  height: 25px;
  background: #00ff00;
  cursor: pointer;
}

.slider[value="3"]::-moz-range-thumb {
  width: 33%;
  height: 25px;
  background: #00ff00;
  cursor: pointer;
}
