* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

#mapview {
/*  width: 95vh;*/
    height: 95vh;
    margin: auto;
    text-align: center;
}

#textview {
/*  width: 900px;*/
    height: 95vh;
    width: 99vw;
    margin: auto;
}

#dialog {
    width: 42vw;
    height: 90vh;
    float: left;
    border: 1px solid black;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 10px;
    text-align: justify;
}

#journal {
    width: 53vw;
    height: 90vh;
    float: right;
    border: 1px solid black;
/*    padding: 10px;*/
}

.dialogButtons {
    width: 100%;
    word-wrap: break-word;
    padding: 3px;
    margin: 3px 0px 3px 0px;
}

canvas {
    border: 1px solid black;
}

img {
    float: left;
}




.overlay {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(220,220,220);
  background-color: rgba(220,220,220, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
/*  padding:100px;*/
}

.instr {
margin:50px;
text-align: center;
}

.nav {
margin:20px;
}
